.PeopleListDeteil_wrapper{
  button.name,button.others{
    font-size: 18px;
    width: 100%;
    padding: 4px;
    border: 1px solid red;
    color: white;
    background:black;
    transition-duration: .8s;
    &:hover{
      cursor: pointer;
      background: white;
    color: black;;
      transition-duration: .8s
    }
  }
  button.others{
    background: white;
    color: black;
    transition-duration: .8s
  }
}
