.LeftBar{;
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex: 1 1 40%;
  flex-flow: nowrap;
  background:black;
  color:white;
  overflow: hidden;
  flex-direction: column;
  .headerLeftBar{
    padding: 10px;
    padding-bottom: 0;
  }
}
