.messageClient {
  font-size: 18px;
  color: red;
  border: 4px solid white;
  background: blue;
  border-radius: 20px;
  left: 10px;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  span{
    white-space: break-spaces;
    word-break: break-all;
  }
}

.messageManager {
  font-size: 18px;
  color: red;
  border: 4px solid yellow;
  background:blue;
  border-radius: 20px;
  left: 10px;
  float: right;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  span{
    white-space: break-spaces;
    word-break: break-all;
  }
}
.messageInChat{
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  min-height: 40px;
  margin-top: 10px;
}
