.RightChat{
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-flow: nowrap;
  overflow: hidden;
  flex-direction: column;
  .massagese{
    flex: 1 1 100%;
    background: url('./background/200332672.jpg');
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px 25px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
  }
  .message_feald {
    border: none;
    width: 100%;
    resize: none;
    padding: 17px 15px;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
  }
form{
  display: flex;
}
.myButton {
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color:#c123de;
  border:1px solid #a511c0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9b14b3;
}
}
